<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Boolzapp</title>

   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />

   <link rel="stylesheet" href="assets/css/style.css">
</head>
<body>

   <div id="app">
      <!-- wrap principale -->
      <div class="main-wrap">

         <!-- PARTE SINISTRA -->
         <div class="wrap-left">

            <!-- 01 top -->
            <div class="wrap-top">
               <!-- parte sinstra: utente -->
               <div class="user-info">
                  <div class="user-image">
                     <img 
                        :src=" 'assets/img/avatar' + user.avatar + '.jpg'" 
                        :alt="user.nome">
                  </div>
                  <div class="user-text">
                     <h4>{{user.nome}}</h4>
                  </div>
               </div>

               <!-- parte destra: icone -->
               <div class="items">
                  <i class="fas fa-circle-notch"></i>
                  <i class="fas fa-comment-alt"></i>
                  <i class="fas fa-ellipsis-v"></i>
               </div>
            </div>

            <!-- 02 notifiche -->
            <div class="notifiche">
               <div class="item-bg">
                  <i class="far fa-bell-slash"></i>
               </div>
               <div class="item-text">
                  <h4>Ricevi notifiche di nuovi messaggi</h4>
                  <p>Attiva notifiche desktop</p>
               </div>   
            </div>

            <!-- 03 input -->
            <!-- triggero input con keyup -->
            <div class="input-box">
               <div class="search-icon">
                  <i class="fas fa-search"></i>
               </div>
               <input 
                  type="text" 
                  placeholder="Crea o inizia una nuova chat"
                  v-model.trim="inputValue"
                  @keyup="typeLetter()"
               >
               
            </div>

            <!-- 04 chat-list -->
            <div class="chat-list">
               <ul>
                  <li
                     v-for="(contact, index) in contacts"
                     @click="activeIndex = index"
                     :class="{active: activeIndex === index}"
                     v-if="(contact.visibile === true) || (inputValue === '')"
                  >
                     <div class="user-info">
                        <div class="user-image">
                           <img 
                              :src=" 'assets/img/avatar' + contact.avatar + '.jpg'" 
                              :alt="contact.nome"
                           >
               
                        </div>
                        <div class="user-text">
                           <!-- <p>{{contact.messages[contact.messages.length - 1].text.slice(0, 8)}}...</p> -->
                           <!-- <p class="date">{{contact.messages[contact.messages.length - 1].date}}</p> -->
                           <h4>{{contact.nome}}</h4>
                           <p>{{getLastMsg(index)}}</p>
                        </div>
                        <p class="date">{{getLastDate(index)}}</p>
                     </div> 
                  </li>
               </ul>
            </div>

         </div>

         
         <!-- PARTE DESTRA -->
         <div class="wrap-right">

            <!-- 01 top -->
            <div class="wrap-top">
               <!-- parte sinstra: utente -->
               <!-- utente visualizzato deve essere quello attivo! -->
               <div class="user-info">
                  <div class="user-image">
                     <img 
                        :src=" `assets/img/avatar${contacts[activeIndex].avatar}.jpg` " 
                        :alt=" `${contacts[activeIndex].nome}` "
                     >
                  </div>
                  <div class="user-text">
                     <h4>{{contacts[activeIndex].nome}}</h4>
                     <p>ultimo accesso: {{contacts[activeIndex].messages[contacts[activeIndex].messages.length - 1].date}}</p>
                  </div>
               </div>

               <!-- parte destra: icone -->
               <div class="items">
                  <i class="fas fa-search"></i>
                  <i class="fas fa-paperclip"></i>
                  <i class="fas fa-ellipsis-v"></i>
               </div>
            </div>

            <!-- 02 parte centrale: chat-box -->
            <!-- ciclo v-for per ottenere chat con i messaggi -->
            <!-- con operatore ternario sarebbe :class="[message.status === 'inviato' ? 'inviato' : 'ricevuto' ]" -->
            <div class="chat-box">
               <div 
                  class="message-row clearfix"
                  v-for="(message, index) in contacts[activeIndex].messages"   
               >
                  <div 
                     class="single-message"
                     :class="message.status"
                  >{{message.text}}
                     <p class="date">{{message.date}}</p>
                  </div>
                  
               </div>

            </div>

            <!-- 03 bottom: input -->
            <div class="wrap-bottom">
               <i class="far fa-smile"></i>
               <input 
                  type="text" 
                  placeholder="scrivi un messaggio"
                  v-model.trim="nuovoTesto"
                  @keyup.enter="inserisciMessaggio"
               >
               <i class="fas fa-microphone"></i>
            </div>
         </div>
      </div>
   </div>
   
   


   <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>

   <script src="assets/js/vue.js"></script>
</body>
</html>