* {
   box-sizing: border-box;
   padding: 0;
   margin: 0;
}

body {
   height: 100vh;
   background-image: linear-gradient(#259687 150px, #DDDBD2 0px, #D2DBDB 100%);
   font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
   display: flex;
   align-items: center;
}

.main-wrap {
   width: 80%;
   min-width: 1000px;
   height: 90%;
   margin: auto;
   background-color: #fff;
   display: flex;
}

/* PARTE SINISTRA */
.wrap-left {
   width: 35%;
   height: 100%;
   background-color: rgb(138, 119, 119);
   border-right: 1px solid #c8c8c8;
}

.wrap-left .wrap-top h4 {
   font-size: 20px;
}


/* notifiche */
.notifiche {
   height: 80px;
   background-color: #8DDBFD;
   display: flex;
   align-items: center;
   padding: 0 20px;
}

.notifiche i {
   color: #8DDBFD;
   font-size: 25px;
   font-weight: bold;
   padding: 15px;
   border-radius: 50%;
   background-color: #F1FBFE;
}

.notifiche p {
   text-decoration: underline;
}

/* PARTE DESTRA */
.wrap-right {
   width: 65%;
   height: 100%;
   display: flex;
   flex-direction: column;
}

.wrap-top, .wrap-bottom {
   height: 80px;
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 0 20px;
   font-size: 25px;
}


/* parte top */
.wrap-top {
   background-color: #EAEBEA;
   color: #B1B1B1;
}

.user-image, .user-text {
   display: inline-block;
}

.user-image {
   width: 60px;
   border-radius: 50%;
   overflow: hidden;
   vertical-align: middle;
}

.user-image img {
   width: 100%;
}

.user-text {
   font-size: 15px;
   vertical-align: middle;
   margin-left: 10px;
}

.user-text h4 {
   color: #000;
   margin-bottom: 5px;
}

.user-text p {
   color: #6B7375;
}

.wrap-top i {
   padding: 5px;
}


/* parte centrale */
.chat-box {
   height: calc(100% - 160px);
   background-image: url(/assets/img/mine.jpg);
}




/* parte bottom */
.wrap-bottom {
   background-color: #F3EFE9;
   color: #6B7376;   
}

input {
   border-radius: 8px;
   width: 80%;
   padding: 20px;
   border: none;
}